.container {
  width: 30%;
  height: 100%;
  box-shadow: 4px 3px 6px #ccc, -4px -3px 6px #ccc, -4px 3px 6px #ccc,
    4px -3px 6px #ccc;
  display: flex;
}

.button-container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
