.type-container {
  width: 30%;
  margin: 0 10px;
  height: 100%;
  box-shadow: 4px 3px 6px #ccc, -4px -3px 6px #ccc, -4px 3px 6px #ccc,
    4px -3px 6px #ccc;
  display: flex;
}

.type-title {
  text-align: center;
  width: 100%;
  font-size: 26px;
  background-color: #2196f3;
  height: fit-content;
  padding: 7px;
  padding-bottom: 9px;
  font-weight: bold;
  color: white;
}
